
body{
    background: #f4f5f6;
}

h2,h3,h4,h5,span,p,li,a{
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    color:#000;
    text-decoration: none;
}

.bg-red{
    background-color: #f72210;
}

.bg-yellow{
    background-color: #ffe400;
}

.roboto-bold{
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.text-gray{
    color: #807f84;
}

.text-red{
    color: #f72210;
}

.sub-title{
    color: rgba(3,3,3,.4);
    font-size: 15px;
}


.container-xxl{
    background: white;
}

.logo-font{
    font-family:'Arvo', serif;
    font-weight: 700;
}

header button.btn{
    font-size: 20px;
    line-height: 1;
}

.news-title{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.small-news-title{
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

.magazine-title{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}

main article figure{
    width: 397px;
    overflow: hidden;
}

img{
    
    object-fit: cover;

}

.debate figure{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: red;
    overflow: hidden;
    
}

.debate figure img
{   
    object-position:-20px center;

}
.my-turn figure{
    width: 100px;
    height: 100px;
    overflow: hidden;
}


.stories figure{
    width: 95px;
    height: 95px;
    overflow: hidden;
}

.magazine figure{
    width: 290px;
    height: auto;
}

@media screen and (max-width: 991px){

    .header{
        height: 50px;
    }
    .header h1{
        position: absolute;
        left: 0;
        top: 8px;
        text-align: left;
        font-size: 24px;

    }
    .header time{
        display: none;
    }
    .header button.btn{
        font-size: 14px;
    }
    .main-nav{
        display: none;
    }
    .trending-nav{
        display: none;
    }
    .magazine-title{
        text-align: center;
    }
    
}